.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.xcuserdatad/
xcuserdata/
build/
*.dSYM
*.dSYM.zip
*.dSYM.tar.gz
.build/
.swiftpm/
timeline.xctimeline
playground.xcworkspace
fastlane

